{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="feature-container">
    <div class="feature-right-container">
        {{widget('feature', 'feature-right', {
            "header": "profile",
            "strapline": "profile",
            "defaultBgImg": asset('images/feature-img1.jpg'),
            "positionTopPercentage": "50",
            "showBtn": true,
            "buttonText": "Lorem Ipsum"
        })|raw}}
    </div>
</div>

<!-- Container -->

<div class="page-content">

    <div class="container">

    	<!-- Page Content -->
    	<section class="template-content">

    		<!-- Main Widet Zone -->
    	   	{{zone('main')|raw}}

    	</section>
    	<!-- End Page Content -->

    </div>
    <!-- End Container -->
</div>

{% include "includes/footer.twig" %}

{% endblock %}
